section.page.about
    .page__wrap
        .page__content
            .container
                .row
                    .col-11.col-lg-6.offset-lg-3.col-xl-5.offset-xl-1.col-xxxl-4
                        .about__desc
                            h2.title Experienced, executive and with
                                br.d-none.d-lg-block
                                |  a sense
                                br.d-lg-none
                                |  of style UI/UX designer

                            ul.list
                                li.list-item I know and work in Figma, Adobe Photoshop / Illustrator/ After Effect, Axure
                                li.list-item I use User Research, COM, User Flow, Wireframe's, Prototype Testing, MVP
                                li.list-item I am developed guidelines, designed desktop and mobile app
                                li.list-item I understand the specifics of working in large companies and work well in teams
                                li.list-item Add skills include 2D illustration, animation, freehand drawing (painting and graphics)

                            p.text
                                | I like to solve complex user tasks with elements of organization and management.
                                br
                                | They carefully work out design concepts, are focused on results, I learn quickly.

                    .col-xl-4.offset-xl-1.d-none.d-xl-block
                        .about__photo
                            // Добавляем картику только если она есть в модели данных
                            // img(src="" alt="")