section.page.portfolio
        .page__wrap
            .page__content
                .container
                    .portfolio__content
                        .portfolio__title Recent Work

                        .portfolio__slider
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .portfolio__item
                                            .portfolio__pic
                                                img(src="public/img/liberation.jpg" alt="Liberation" loading="lazy")
                                            .portfolio__desc
                                                .portfolio__number / 01
                                                .portfolio__name Liberation
                                                .portfolio__year 2021
                                    .swiper-slide
                                        .portfolio__item
                                            .portfolio__pic
                                                img(src="public/img/icelandic.jpg" alt="" loading="lazy")
                                            .portfolio__desc
                                                .portfolio__number / 02
                                                .portfolio__name Liberation
                                                .portfolio__year 2021
                                    .swiper-slide
                                        .portfolio__item
                                            .portfolio__pic
                                                img(src="public/img/father.jpg" alt="" loading="lazy")
                                            .portfolio__desc
                                                .portfolio__number / 03
                                                .portfolio__name Liberation
                                                .portfolio__year 2021
