section.page.portfolio
	.page__wrap
		.page__content
			.container
				.row
					.col-12.col-lg-10.offset-lg-1
						.portfolio__content
							.portfolio__title Recent Work

				.portfolio__slider
					.swiper
						#portfolio.swiper-wrapper

							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="liberation")
							//- 				img(src="img/liberation.jpg" alt="Liberation" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 01
							//- 				.portfolio__name Liberation
							//- 				.portfolio__year 2021
							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="Icelandic")
							//- 				img(src="img/icelandic.jpg" alt="" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 02
							//- 				.portfolio__name Icelandic Mail App
							//- 				.portfolio__year 2022
							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="liberation")
							//- 				img(src="img/father.jpg" alt="" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 03
							//- 				.portfolio__name Name of the Project
							//- 				.portfolio__year 2023
							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="liberation")
							//- 				img(src="img/liberation.jpg" alt="Liberation" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 01
							//- 				.portfolio__name Liberation
							//- 				.portfolio__year 2021
							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="liberation")
							//- 				img(src="img/icelandic.jpg" alt="" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 02
							//- 				.portfolio__name Icelandic Mail App
							//- 				.portfolio__year 2022
							//- .swiper-slide
							//- 	.portfolio__slide
							//- 		.portfolio__item
							//- 			.portfolio__pic(data-project-name="liberation")
							//- 				img(src="img/father.jpg" alt="" loading="lazy")
							//- 			.portfolio__desc
							//- 				.portfolio__number / 03
							//- 				.portfolio__name Name of the Project
							//- 				.portfolio__year 2023
