.project__list
    .project__item(data-project='liberation')
        .container
            .row
                .col-4.col-lg-3.offset-lg-1
                    .project__content
                        button.project__close(type="button")
                            span
                        .project__desc
                            h2.project__title E-commerce & Blog Interface
                            p.project__text
                                | I present to your attention the design concept of an online store combined with a blog.
                                | I wanted to pay tribute to a beautiful girl, a ceramist - Marina Lozova. I did not find anything better than to make this concept for her store.
                            .project__controllers
                                span.project__nav.project__nav_prev
                                    i
                                .project__pagination
                                    mark.project__pagination_current 1
                                    span &nbsp;
                                    i
                                    span &nbsp;
                                    mark.project__pagination_all
                                span.project__nav.project__nav_next
                                    i
                        ul.project__socials
                            li
                                a(href="") Dribbble
                            li
                                a(href="") Instagram

                .col-8.col-lg-8.project__slider-container
                    .project__slider-wrap
                        .project__slider
                            .project__slider-body
                                .swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .project__slide
                                                img(src="https://anaragaev.github.io/rom-port/img/icelandic.jpg" alt="Icelandic Mail App" loading="lazy")
                                        .swiper-slide
                                            .project__slide
                                                img(src="https://anaragaev.github.io/rom-port/img/app.jpg" alt="App" loading="lazy")
                                        .swiper-slide
                                            .project__slide
                                                img(src="https://anaragaev.github.io/rom-port/img/father.jpg" alt="Name of the Project" loading="lazy")
                                        .swiper-slide
                                            .project__slide
                                                img(src="https://anaragaev.github.io/rom-port/img/icelandic.jpg" alt="Icelandic Mail App" loading="lazy")
                                        .swiper-slide
                                            .project__slide
                                                img(src="https://anaragaev.github.io/rom-port/img/liberation.jpg" alt="Liberation" loading="lazy")
