@import 'scss-vars';

*,
*:before,
*:after {
    outline: none !important;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

// Removing clear field icon in IE
input[type="text"]::-ms-clear {
    display: none;
}

// Removing the password display icon in IE
input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 17px 0 19px;
    overflow: hidden;

    background: var(--color-back-prime);
    color: var(--color-font-primary);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    @media (min-width: $lg) {
        padding-top: 82px;
        padding-bottom: 79px;
    }

    @media (min-width: $xl) {
        padding-top: 69px;
        padding-bottom: 66px;
    }

    @media (min-width: $xxl) {
        padding-top: 109px;
        padding-bottom: 106px;
    }

    @media (min-width: $xxxl) {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

.header,
.footer {
    flex: none;
}

.main {
    flex: 1 0 auto;
    position: relative;
    margin: 23px 0 16px;

    @media (min-width: $lg) {
        margin-top: 37px;
        margin-bottom: 46px;
    }

    @media (min-width: $xl) {
        margin-top: 29px;
        margin-bottom: 38px;
    }

    @media (min-width: $xxl) {
        margin-top: 58px;
        margin-bottom: 68px;
    }

    @media (min-width: $xxxl) {
        margin-top: 41px;
        margin-bottom: 41px;
    }
}

.page-list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 300vw;
    height: 100%;
    transition: all 1.7s var(--synth-timing-func);
}

.page {
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;

    .container {
        height: 100%;
    }

    &_portfolit {}

    &_about {}

    &_contacts {}

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__content {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 1s var(--synth-timing-func);

        &.compressed {
            transform: scale(0.9);
        }
    }
}

.invisible {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
    z-index: -1 !important;
}

.hide {
    display: none !important;
}

.transition-block {
    transition: none !important;

    &:before,
    &:after {
        transition: none !important;
    }

    *,
    *:before,
    *:after {
        transition: none !important;
    }
}

.action-block {
    pointer-events: none !important;
    user-select: none !important;

    &:before,
    &:after {
        pointer-events: none !important;
        user-select: none !important;
    }

    *,
    *:before,
    *:after {
        pointer-events: none !important;
        user-select: none !important;
    }
}


// @media (min-width: $lg) {}

// @media (min-width: $xl) {}

// @media (min-width: $xxl) {}

// @media (min-width: $xxxl) {}